body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.colored{
    color: orange;
}
.flexible-section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 1%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
}
.side-banner{
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(pictures/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
#second-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1; 
}
#first-box{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}